.container {
    width: 100%;
    margin: auto;
    height: 250px;
    overflow: auto;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
}

@media (min-width: 500px) and (min-height: 400px) {
    .container {
        width: 100%;
        height: 300px;
    }
}

@media (min-width: 500px) and (min-height: 401px) {
    .container {
        width: 100%;
        height: 400px;
    }
}

@media (min-width: 1000px) and (min-height: 700px) {
    .container {
        width: 100%;
        height:450px;
    }
}