.container {
    width: 80%;
    margin: 10px auto;
    padding: 5px 10px;
    box-sizing: border-box;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;

    display: flex;
    flex-flow: column;
}

.container span {
    border: 1.5px solid #eee;
    padding: 5px;
    margin:5px;
    display: inline-block;
}