.container {
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    cursor: pointer;
}

.container div {
    width: 70px;
    height: 10px;
    background-color: #fff;
    border-radius: 2px;
}

@media (min-width:500px) {
    .container {
        display: none;
    }
}